body {
	font-family: "Source Code Pro";
	align-content: center;
	background-color: 'white';
	color: 'black';
}

#svg-row {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/*#svg {
	border: 1px solid black;
}*/

/*.bordered {
	border: 1px solid black;
}*/

.arrow{
	stroke-width:5;
	stroke:#000;
	stroke-dasharray:5, 5;
}



button {
	margin: 5px;
}



/*Renders page after all styles have applied*/
html {
	background-color: white!important;
    visibility: visible !important;
    opacity: 1 !important;
    display:block !important;
}
