body {
	font-family: "Source Code Pro";
	align-content: center;
	background-color: 'white';
	color: 'black';
}

.row {
  padding-right: 0px;
  margin-right: 0px;
}
.d-flex{
  overflow: hidden;
}
a {
	color: #5A5A5A;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}

#svg-row {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.tooltip {
	style="white-space: pre-wrap;"
}
/*#svg {
	border: 1px solid black;
}*/

/*.bordered {
	border: 1px solid black;
}*/

.arrow{
	stroke-width:5;
	stroke:#000;
	stroke-dasharray:5, 5;
}


/*
button {
	margin: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}*/

button {
	margin: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: block;
	line-height: 1em;
	max-height: 4em; 
}

@media screen and (max-width: 615px) {
	button {
		text-overflow: normal;
	    white-space:normal !important; 
	    word-wrap: break-word; 
	    word-break: normal;
	    font-size: 50%;
	}
	h1 {
		font-size: 7vw;
		vertical-align: text-bottom;
		padding: 5px;
	}
	a svg {
		height: 7vw;
	}
}

.statement {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.statement {
	text-align: center;
}

.move-right{
    display: inline;
    float: right;
    min-height: 10px;
}














/*Renders page after all styles have applied*/
html {
	background-color: white!important;
    visibility: visible !important;
    opacity: 1 !important;
    display:block !important;
}
