<html>
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>html{visibility: hidden;opacity:0;display:none;}</style>
  <link rel="stylesheet" text="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body>

	<div class="d-flex justify-content-center">
		<h1> Linked List </h1>
	</div>

	<div class="container-fluid justify-content-center" id="controls-container">

		<div class="row">
			<div class="col-md-2 col-sm-1 bordered" id="left-controls-buffer">
		  	</div>

		  	<div class="col-md-8 col-sm-10 bordered" id="controls">

				<div class="row">
				  	<div class="col-6">
						<button id="insert-node" type="button" class="btn btn-outline-dark btn-block">Insert a node</button>
					</div>
					<div class="col-6">
						<button id="get-head" type="button" class="btn btn-outline-dark btn-block">Go to List.Head</button>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<button id="pop-node" type="button" class="btn btn-outline-dark btn-block">Pop a node</button>
					</div>
					<div class="col-6">
						<button id="get-next" type="button" class="btn btn-outline-dark btn-block">Go to Node.Next</button>
					</div>
				</div>

			</div>

			<div class="col-md-2 col-sm-1 float-right bordered">
				<div class="row">				
					<button id="reset-list" type="button" class="btn btn-outline-dark btn-inline">Delete List</button>
				</div>
				<div class="row">				
					<button id="toggle-darkmode" type="button" class="btn btn-outline-dark btn-inline">Toggle Darkmode</button>
				</div>
			</div>


		</div>
	</div>

	<div class="container-fluid" id="svg-row">

			<svg id="svg" style="width:100%; height:200px"/>


	</div>

	<div class="container" id="info-container">

		<div class="col-12">

			<div class="row">
			  	<span id="list-attr">
					{{ attr }}
				</span>
			</div>
			<div class="row">
				<span id="current">
					Current node: {{ current }}
				</span>
			</div>
			<div class="row"> 
				<span id="previous">
					Previous node: {{ previous }}
				</span>
			</div>
			<div class="row">
				<span id="list-nodes">
					List contents: {{ nodes }}
				</span>
			</div>
		</div>
	</div>

</body>

<script src="{{ url_for('static',filename='js/main.js' ) }}"></script>

</html>