<html>
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>html{visibility: hidden;opacity:0;display:none;}</style>

  <script> //allows json to be passed from flask on first page load
	var flaskData = JSON.parse('{{array | tojson | safe}}');
	var array = flaskData.array;
	// var myList = JSON.parse('{{ myList | tojson | safe}}')
	// console.log(array)
	// console.log(myList)
	$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	});
	</script>
  <link rel="stylesheet" text="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body>

	<div class="d-flex justify-content-center">
		<a href="https://github.com/jeffykle/linkedlistpractice" data-toggle="tooltip" data-title="Code Page">
			<svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 14 16" width="28" height="32" fill="currentColor"><path fill-rule="evenodd" d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z"></path></svg>
		</a>
		<h1> Linked List </h1>
		<a href="https://en.wikipedia.org/wiki/Linked_list#Singly_linked_list" data-toggle="tooltip" data-title="More info on linked lists...">
		<svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 14 16" width="28" height="32" fill="currentColor"><path fill-rule="evenodd" d="M6.3 5.69a.942.942 0 01-.28-.7c0-.28.09-.52.28-.7.19-.18.42-.28.7-.28.28 0 .52.09.7.28.18.19.28.42.28.7 0 .28-.09.52-.28.7a1 1 0 01-.7.3c-.28 0-.52-.11-.7-.3zM8 7.99c-.02-.25-.11-.48-.31-.69-.2-.19-.42-.3-.69-.31H6c-.27.02-.48.13-.69.31-.2.2-.3.44-.31.69h1v3c.02.27.11.5.31.69.2.2.42.31.69.31h1c.27 0 .48-.11.69-.31.2-.19.3-.42.31-.69H8V7.98v.01zM7 2.3c-3.14 0-5.7 2.54-5.7 5.68 0 3.14 2.56 5.7 5.7 5.7s5.7-2.55 5.7-5.7c0-3.15-2.56-5.69-5.7-5.69v.01zM7 .98c3.86 0 7 3.14 7 7s-3.14 7-7 7-7-3.12-7-7 3.14-7 7-7z"></path></svg>
		</a>
	</div>

	<div class="container-fluid justify-content-center" id="controls-container">

		<div class="row">
			<div class="col-md-2 col-sm-1 bordered float-right" id="meta-controls">
				<div class="clearfix">			
					<button id="construct-list" type="button" class="btn btn-dark btn-inline .active float-right" data-toggle="button" aria-pressed="true">Build/Navigate</button>
				</div>
				<div class="clearfix">				
					<button id="modify-list" type="button" class="btn btn-outline-dark btn-inline float-right">Modify List</button>
				</div>
		  	</div>

		  	<div class="col-md-8 col-sm-10 bordered" id="center-control-panel">

			  	<div id="construct-controls" style="display: block;">

					<div class="row">
					  	<div class="col-6">
							<button id="insert-node" type="button" class="btn btn-outline-dark btn-block">Insert a node</button>
						</div>
						<div class="col-6">
							<button id="get-head" type="button" class="btn btn-outline-dark btn-block">Go to List.Head</button>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<button id="pop-node" type="button" class="btn btn-outline-dark btn-block">Pop a node</button>
						</div>
						<div class="col-6">
							<button id="get-next" type="button" class="btn btn-outline-dark btn-block">Go to Node.Next</button>
						</div>
					</div>

				</div>
			  	<div id="modify-controls" style="display: none;">

					<div class="row" id="row1">
					  	<div class="col-4">
							<button id="var1-1" type="button" class="btn matrix matrix-vars btn-outline-dark btn-block"></button>
						</div>
						<div class="col-4">
							<button id="var1-2" type="button" class="btn matrix matrix-attr btn-outline-dark btn-block disabled"></button>
						</div>
						<div class="col-4">
							<button id="var1-3" type="button" class="btn matrix matrix-attr btn-outline-dark btn-block disabled"></button>
						</div>
					</div>

					<div class="row" id="row2">
						<div class="col-4">
							<button id="var2-1" type="button" class="btn matrix matrix-vars btn-outline-dark btn-block"></button>
						</div>
						<div class="col-4">
							<button id="var2-2" type="button" class="btn matrix matrix-attr btn-outline-dark btn-block disabled"></button>
						</div>
						<div class="col-4">
							<button id="var2-3" type="button" class="btn matrix matrix-attr btn-outline-dark btn-block disabled"></button>
						</div>
					</div>

					<div class="row" id="row3">
						<div class="col-4">
							<button id="var3-1" type="button" class="btn matrix matrix-vars btn-outline-dark btn-block"></button>
						</div>
						<div class="col-4">
							<button id="var3-2" type="button" class="btn matrix matrix-attr btn-outline-dark btn-block disabled"></button>
						</div>
						<div class="col-4">
							<button id="var3-3" type="button" class="btn matrix matrix-attr btn-outline-dark btn-block disabled"></button>
						</div>
					</div>

					<div class="row" id="row4">
						<div class="col-4">
							<button id="var4-1" type="button" class="btn matrix matrix-vars btn-outline-dark btn-block"></button>
						</div>
						<div class="col-4">
							<button id="var4-2" type="button" class="btn matrix matrix-attr btn-outline-dark btn-block disabled"></button>
						</div>
						<div class="col-4">
							<button id="var4-3" type="button" class="btn matrix matrix-attr btn-outline-dark btn-block disabled"></button>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-2 col-sm-1 bordered float-left" id="misc-controls">
				<div class="clearfix">				
					<button id="delete-list" type="button" class="btn btn-outline-dark btn-inline float-left">Delete List</button>
				</div>
				<div class="clearfix">				
					<button id="toggle-darkmode" type="button" class="btn btn-outline-dark btn-inline float-left">Toggle Darkmode</button>
				</div>
			</div>


		</div>
	</div>
	
	<div class="container-fluid" id="statement-container">
		<div class="row justify-content-center">
			<div class="col-md-2 col-sm-1 bordered" id="statement-buffer-left">
			</div>
			<div class="col-md-3 col-sm-4 bordered statement">
				<h4 id="statement-var" class="statement statement-var" value="none"> ________</h4>
			</div>
			<div class="col-md-2 col-sm-2 bordered statement" >
				<h4 class="statement statement-equals"> = </h4>
			</div>
			<div class="col-md-3 col-sm-4 bordered" id="statement">
				<h4 id="statement-expr" class="statement statement-expr" value="none"> ________</h4>
			</div>
			<div class="col-md-2 col-sm-1 bordered" id="statement-buffer-right">
				<span id="confirm">
					<button class="btn btn-sm btn-outline-dark btn-inline" id="cancel-call" style="display: none;">
<svg class="bi bi-backspace-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="https://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M15.683 3a2 2 0 00-2-2h-7.08a2 2 0 00-1.519.698L.241 7.35a1 1 0 000 1.302l4.843 5.65A2 2 0 006.603 15h7.08a2 2 0 002-2V3zM5.829 5.854a.5.5 0 11.707-.708l2.147 2.147 2.146-2.147a.5.5 0 11.707.708L9.39 8l2.146 2.146a.5.5 0 01-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 01-.707-.708L7.976 8 5.829 5.854z" clip-rule="evenodd"/>
</svg>
					</button>
					<button class="btn btn-sm btn-outline-dark btn-inline" id="confirm-call" style="display: none;">
<svg class="bi bi-caret-right-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="https://www.w3.org/2000/svg">
  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
</svg>
					</button>
				</span>
			</div>
		</div>

	</div>	
	
	<div class="container-fluid" id="svg-row">

			<svg id="svg" style="width:100%; height:200px"/>


	</div>

	<div class="container" id="info-container">
		<div class="row">
			<div class="col-6 col-md-6">
				<div class="row">
					<button id="toggle-json" type="button" 
					class="btn btn-outline-dark btn-inline float-left"
					data-toggle="collapse" data-target="#list-json" aria-expanded="false" aria-controls="list-json">Toggle JSON</button>
				</div>
				<div class="row">
					<div class="collapse" id="list-json">
						<div class="card card-body">
							<div id="json-data" style="white-space: pre-wrap;">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-6">
				<div class="row" id="clear-history">
					Call History (click here to clear):
				</div>
				<div class="row">
					<ol id="call-history">
					</ol>
				</div>
			</div>
		</div>
	</div>

</body>

<script src="{{ url_for('static',filename='js/main.js' ) }}" type="module"></script>

</html>